@font-face {
  font-family: "Akkurat";
  src: url("/assets/fonts/akkurat-light.woff2") format("woff2"), url("/assets/fonts/akkurat-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Akkurat";
  src: url("/assets/fonts/akkurat-regular.woff2") format("woff2"), url("/assets/fonts/akkurat-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Akkurat";
  src: url("/assets/fonts/akkurat-bold.woff2") format("woff2"), url("/assets/fonts/akkurat-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  /* Kleuren deze niet gebruiken in style.css alleen voor variabelen */
  /* Brand */
  --palette-brand-900:       #3A1258;
  --palette-brand-800:       #46166b;
  --palette-brand-700:       #5A2A86;
  --palette-brand-600:       #8B6AA0;
  --palette-brand-300:       #B8A9C6;
  --palette-brand-200:       #C7B8D2;
  --palette-brand-100:       #ECE7F0;
 
  /* Neutraal */
  --palette-neutral-900:     #000000;
  --palette-neutral-800:     #212121;
  --palette-neutral-700:     #8f8f8f;
  --palette-neutral-600:     #A0A0A0;
  --palette-neutral-300:     #d9d9d9;
  --palette-neutral-200:     #E5E5E5;
  --palette-neutral-100:     #f2f2f2;
  --palette-neutral-0:       #ffffff;
 
  /* Signaal: fout */
  --palette-danger-700:      #FF0000;
  --palette-danger-300:      #FFA0A0;
  --palette-danger-100:      #FFE5E5;
 
  /* Signaal: waarschuwing */
  --palette-caution-700:     #FFBB00;
  --palette-caution-300:     #FFE5A0;
  --palette-caution-100:     #FFF8E5;
 
  /* Signaal: succes */
  --palette-positive-700:    #11A407;
  --palette-positive-300:    #A6DDA2;
  --palette-positive-100:    #E6F6E5;
}
:root{
  /* Kleuren ===================================================================================*/
  /* Brand */
  --color-brand-darkest:     var(--palette-brand-900);
  --color-brand-darker:      var(--palette-brand-800);
  --color-brand-dark:        var(--palette-brand-700);
  --color-brand-mid:         var(--palette-brand-600);
  --color-brand-light:       var(--palette-brand-300);
  --color-brand-lighter:     var(--palette-brand-200);
  --color-brand-lightest:    var(--palette-brand-100);

  /* Neutraal */
  --color-neutral-darkest:   var(--palette-neutral-900);
  --color-neutral-darker:    var(--palette-neutral-800);
  --color-neutral-dark:      var(--palette-neutral-700);
  --color-neutral-mid:       var(--palette-neutral-600);
  --color-neutral-light:     var(--palette-neutral-300);
  --color-neutral-lighter:   var(--palette-neutral-200);
  --color-neutral-lightest:  var(--palette-neutral-100);
  --color-neutral-surface:   var(--palette-neutral-0);

  /* Danger / borrowed */
  --color-danger-dark:       var(--palette-danger-700);
  --color-danger-light:      var(--palette-danger-300);
  --color-danger-lightest:   var(--palette-danger-100);

  /* Caution / repair */
  --color-caution-dark:      var(--palette-caution-700);
  --color-caution-light:     var(--palette-caution-300);
  --color-caution-lightest:  var(--palette-caution-100);
 
  /* Positive / available */
  --color-positive-dark:     var(--palette-positive-700);
  --color-positive-light:    var(--palette-positive-300);
  --color-positive-lightest: var(--palette-positive-100);

  /* unknown */
  --color-unknown-dark:      var(--palette-neutral-700);
  --color-unknown-light:     var(--palette-neutral-300);
  --color-unknown-lightest:  var(--palette-neutral-100);

  /* Achtergronden */
  --color-bg-default:        var(--palette-neutral-100);
  --color-bg-inverse:        var(--palette-neutral-900);
  --color-bg-header:         var(--palette-neutral-100);
 
  /* Buttons */
  --color-btn-base:          var(--color-brand-darker);
  --color-btn-hover:         var(--color-brand-dark);
  --color-btn-active:        var(--color-brand-darkest);
  --color-btn-focus:         var(--color-brand-dark);
  --color-btn-disabled:      var(--color-brand-light);

  /* Text */
  --color-text-default:      var(--color-neutral-darkest);
  --color-text-brand:        var(--color-brand-darker);
  --color-text-inverse:      var(--color-neutral-surface);

  /*typografie===================================================================================*/
  --font-primary:            "Akkurat", Arial, Helvetica, sans-serif;

  --font-weight-light:       300;
  --font-weight-regular:     400;
  --font-weight-bold:        700;

  --font-size-h1:            clamp(2rem,    4vw + 1rem, 3rem);
  --font-size-h2:            clamp(1.5rem,  3vw + 1rem, 2.25rem);
  --font-size-h3:            clamp(1.25rem, 2vw + 1rem, 1.75rem);
  --font-size-h4:            clamp(1.1rem,  1vw + 1rem, 1.25rem);
  --font-size-h5:            clamp(1rem,    0.5vw + 1rem, 1rem);

  --font-size-body-xs:       clamp(0.75rem,  0.25vw + 0.7rem,  0.9rem);
  --font-size-body-sm:       clamp(0.875rem, 0.5vw + 0.75rem, 1rem);
  --font-size-body-md:       clamp(1rem,     0.5vw + 0.875rem, 1.25rem);
  --font-size-body-lg:       clamp(1.125rem, 1vw + 0.875rem, 1.5rem);
  --font-size-body-2xl:      clamp(3rem,     3vw    + 1.5rem,   4.5rem);

  --line-height-heading:     1.1;
  --line-height-body:        1.6;

  --letter-spacing-heading:  -0.02em;
  --letter-spacing-body:     0;
  --letter-spacing-sm:       0.03em;
  --letter-spacing-md:       0.05em;


  /* Padding / Spacing =======================================================================*/
  --spacing-xs:              0.25rem;    
  --spacing-sm:              0.5rem;     
  --spacing-md:              1rem;       
  --spacing-lg:              1.5rem;  
  --spacing-xl:              3rem;      
  --spacing-2xl:             4rem;     

  /* Borders =================================================================================*/
  --border-width-sm:         1px; 
  --border-width-md:         2px; 
  --border-width-lg:         6px; 

  --border-radius-circle:    50%;
  --border-radius:           0.375rem;
  --border-radius-md:        0.8rem;
  --border-radius-lg:        1.5rem;

  --border-color-brand:      var(--color-brand-dark);
  --border-color-danger:     var(--color-danger-dark);
  --border-color-caution:    var(--color-caution-dark);
  --border-color-positive:   var(--color-positive-dark);
  --border-color-unknown:    var(--color-unknown-dark);

  /* Shadows =================================================================================*/
  --shadow-btn-default:      4px 4px 8px rgba(70, 22, 107, 0.20);
  --shadow-btn-hover:        inset -2px -4px 2px rgba(0, 0, 0, 0.25), inset 2px 4px 2px rgba(255, 255, 255, 0.25), 0px 6.5px 13px rgba(70, 22, 107, 0.40);
  --shadow-btn-active:       inset 2px 4px 8px rgba(0, 0, 0, 1), inset 0px -2px 4px rgba(255, 255, 255, 0.35);
  --shadow-btn-focus:        inset -2px -4px 2px rgba(0, 0, 0, 0.25), inset 2px 2px 4px rgba(255, 255, 255, 0.25), 0px 6.5px 13px rgba(70, 22, 107, 0.40);
  --shadow-btn-disabled:     3px 3px 7.5px rgba(70, 22, 107, 0.20);
  --shadow-widget:           0px 3px 6px rgba(70, 22, 107, 0.20)
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg-default:      var(--color-brand-darkest);
    --color-bg-inverse:      var(--color-brand-lightest);

    --color-text-default:    var(--color-neutral-surface);
    --color-text-inverse:    var(--color-neutral-darkest);
    --color-text-brand:      var(--color-neutral-surface);
  }
}

html{
  overflow-x:                hidden;
  max-width:                 100%;
  scroll-behavior:           smooth; 
  background-color:          var(--color-bg-default);
}

* {
  margin:                    0;
  padding:                   0;
  min-width:                 0;
  box-sizing:                border-box;
}

ul,
ol {
  list-style:none;
}

a {
  color:inherit;
}

/* typogrfie */
body{
  color:                    var(--color-text-default);
  font-family:              var(--font-primary);
  font-weight:              var(--font-weight-regular);
  font-size:                var(--font-size-body-md);
  line-height:              var(--line-height-body);
}

h1, h2, h3, h4, h5{
  font-family:              var(--font-primary);
  font-weight:              var(--font-weight-bold);
  line-height:              var(--line-height-heading);
  letter-spacing:           var(--letter-spacing-heading);
  color:                    var(--color-text-brand);
  margin:                   0 0 var(--spacing-sm) 0;
}

h1{ font-size:              var(--font-size-h1);}
h2{ font-size:              var(--font-size-h2);}
h3{ font-size:              var(--font-size-h3);}
h4{ font-size:              var(--font-size-h4);}
h5{ font-size:              var(--font-size-h5);}

p{  
  font-size:                var(--font-size-body-md);
  max-width:                70ch;
  margin:                   0 0 var(--spacing-md) 0;
}

/* button - primary */
.btn{
  align-items:             center;
  gap:                     var(--spacing-sm);
  padding:                 var(--spacing-sm) var(--spacing-md);
  font-family:             var(--font-primary);
  font-size:               var(--font-size-body-sm);
  font-weight:             var(--font-weight-regular);
  line-height:             1;
  white-space:             nowrap;
  border:                  var(--border-width-md) solid transparent;
  border-radius:           var(--border-radius);
  box-shadow:              var(--shadow-btn-default);
  cursor:                  pointer;

  @media (prefers-reduced-motion: no-preference) {
    .btn { transition: all 200ms ease-out}
  }
}

.btn-primary{
  background-color:        var(--color-btn-base);
  color:                   var(--color-text-inverse);
  border:                  solid var(--border-width-md) var(--color-brand-darker);
}
.btn-secondary{
  background-color:        var(--color-neutral-surface);
  color:                   var(--color-brand-darker);
  border:                  solid var(--border-width-md) var(--color-brand-darker);
  &:hover{
    color: var(--color-neutral-surface);
  }
}

.btn svg {
  width:                   1em;
  height:                  1em;
  flex-shrink:             0;
}

.btn:hover {
  background-color:        var(--color-btn-hover);
  box-shadow:              var(--shadow-btn-hover);
}

.btn:active {
  background-color:        var(--color-btn-active);
  box-shadow:              var(--shadow-btn-active);
}

.btn:focus-visible {
  background-color:        var(--color-btn-focus);
  border-color:            var(--color-neutral-surface);
  outline:                 var(--border-width-md) solid var(--color-brand-dark);
  outline-offset:          2px;
  box-shadow:              var(--shadow-btn-focus);
}

.btn:disabled {
  background-color:        var(--color-btn-disabled);
  color:                   var(--color-neutral-dark);
  cursor:                  not-allowed;
  pointer-events:          none;
  box-shadow:              var(--shadow-btn-disabled);
}


.searchbar {
  display: flex;
  flex-direction: row;
  margin-bottom: var(--spacing-sm);
  
  input {
    border: var(--border-width-md) solid var(--color-brand-darkest);
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    padding: var(--spacing-sm);
    flex: 1;
    font-size: var(--font-size-body-md);
  }

  button {
    background-color: var(--color-brand-darkest);
    padding: 0.69em 1.8em 0.6em;
    border: var(--border-width-sm) solid var(--color-brand-darkest);
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin-left: -1px;
    position: relative;
    color: var(--color-neutral-surface);
    svg{
      scale: 1.15;
    }
  }
}

form{
  display: flex;
  flex-direction: column;
  font-style: var(--font-primary);
  padding-top: var(--spacing-md);
  label{
    color: var(--color-brand-darker);
    font-size: var(--font-size-body-sm);
    display: flex;
    flex-direction: column;
    margin-bottom: var(--spacing-lg);
    text-align: left;
    input{
      padding: var(--spacing-sm);
      font-size: var(--font-size-body-md);
      color: var(--color-brand-darker);
      border: solid var(--color-brand-darker) var(--border-width-sm);
      border-radius: var(--border-radius);
      &::placeholder{  
        color: var(--color-neutral-mid);
        font-size: var(--font-size-body-sm);
      }
      &:hover, &:focus{ 
        outline: var(--border-width-sm) solid var(--color-brand-darker);
      }
      &:valid{
        background-color: var(--color-brand-lighter);
      }
      &:required:invalid:not(:placeholder-shown){
        border:solid var(--border-width-md) var(--color-danger-dark);
        background-color: var(--color-danger-lightest);
      }
    }
  }
  @supports(selector(:has(*))) { 
    label:has(input:required:invalid:not(:placeholder-shown)) {
      color: var(--color-danger-dark);
    }  
  }
}
form{
  select{
    padding: var(--spacing-sm);
    font-size: var(--font-size-body-md);
    color: var(--color-brand-darker);
    border: solid var(--color-brand-darker) var(--border-width-sm);
    border-radius: var(--border-radius);
    
    option{
      color: var(--color-brand-darker);
      position: relative;
    }

    &:hover, &:focus{
      outline: var(--border-width-sm) solid var(--color-brand-darker);
    }
    
    &:invalid {
      color: var(--color-neutral-mid);
      background-color: inherit; /* inherit — Baseline: WIDELY AVAILABLE */
    }
    &:valid {
      background-color: var(--color-brand-mid);
    }
  }
}
form{
  textarea{
    padding: var(--spacing-sm);
    font-size: var(--font-size-body-md);
    border: solid var(--color-brand-darker) var(--border-width-sm);
    border-radius: var(--border-radius);
    &::placeholder{
      font-family: var(--font-primary);  
    }
    &:hover, &:focus{
      outline: var(--border-width-sm) solid var(--color-brand-darker);
    }
  }
}
form{
  fieldset{
    border: none;
    padding-bottom: var(--spacing-lg);
    legend{
      color: var(--color-brand-darker);
      font-size: var(--font-size-body-md);
      padding-bottom: 0.2rem;
    }
    .upload-box{
      background-color: var(--color-brand-light);
      border: var(--border-width-md) dashed var(--color-brand-darker);
      border-radius: var(--border-radius);
      padding: var(--spacing-lg);
      display: flex;
      justify-content: center;
      text-align: center;
      padding-bottom: var(--spacing-sm);
      span{
        color: var(--color-brand-darker);
        font-size: var(--font-size-body-xs);
      }

      &:hover {
        border-color: var(--color-brand-darker, #9b59b6);
        outline: 0.2rem;
        cursor: pointer;
      }
    }
  }
}
