/* ----------- Algemeen ---------------------------------*/
main{
    width: 100%;
    margin: 1rem auto;
    max-width: 1280px;
    padding: 0 var(--spacing-xl);
}
/*header*/
.main-header{
    position: relative;
    height: 124px;
    background-color: var(--color-bg-header);
    overflow: hidden;
    .v-lines {
        position: absolute;
        top: 0;       
        left: 3.5rem;
    }
    .h-lines {
        position: absolute;
        top: -0.5rem;
        left: 11rem;
        width: 100%;
        height: 100%;
    }
    .logo {
        position: absolute;
        top: 65%;
        left: 1rem;    
        transform: translateY(-50%);
    }
}
/* ------------ Dashboard -------------------------------*/
.dashboard-header{
    color: var(--color-brand-darker);
    margin-bottom: var(--spacing-xl);
    p:first-of-type{
        text-transform: uppercase;
        font-weight: var(--font-weight-bold);
        font-size: var(--font-size-body-md);
    }
    .greeting{
        display: block;
    }
    time{
        font-weight: var(--font-weight-bold);
        &::before{
            content: "";
            display:          inline-block;
            width: 0.7rem;
            height: 0.7rem;
            background-color: var(--color-brand-darker);
            border-radius: var(--border-radius-circle);
            margin-right: var(--spacing-sm);
        }
    }
}
.stats-totaal{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    padding: var(--spacing-md) var(--spacing-md) 0 var(--spacing-md);
    border-radius: var(--border-radius);
    margin-bottom: var(--spacing-md);

    background-color: var(--color-brand-darkest);
    color: var(--color-neutral-surface);
    font-weight: var(--font-weight-bold);
    box-shadow: var(--shadow-widget);  
    
    
    .stats-item:first-child{
        display:        flex;
        flex-direction: column;
        padding-bottom: 1em;
        gap: var(--spacing-md);

        dt {
            font-size:    var(--font-size-body-md);
            font-weight:  var(--font-weight-bold);
            letter-spacing: var(--letter-spacing-md);
        }

        dd {
            font-size:    var(--font-size-body-2xl);
            line-height:  1;
        }
    }
    .property-of {
        display: none;

        @media (min-width: 500px) {
            display: grid;
            grid-template-columns: repeat(2, auto);
            column-gap: var(--spacing-md);

            .label:nth-of-type(1){ grid-area: 1 / 1; }
            .value:nth-of-type(1){ grid-area: 2 / 1; }
            .label:nth-of-type(2){ grid-area: 1 / 2; }
            .value:nth-of-type(2){ grid-area: 2 / 2; }

            dt {
                font-size:    var(--font-size-body-xs);
                font-weight:  var(--font-weight-regular);
                letter-spacing: var(--letter-spacing-sm);
            }

            dd {
                font-size:    var(--font-size-body-md);
            }
        }
    }
}
.stats-status {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacing-sm);
    box-shadow: var(--shadow-widget);

    @media (min-width: 640px) {
        grid-template-columns: repeat(3, minmax(min-content, 1fr));
    }

    .stats-item {
        border: solid var(--border-color-brand) var(--border-width-md);
        border-radius: var(--border-radius);
        background-color: var(--color-brand-lightest);
        padding: var(--spacing-sm) var(--spacing-md);
        color: var(--color-brand-darkest);
        text-align: center;

        dt {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: var(--spacing-sm);
        padding-bottom: var(--spacing-md);
        font-size: var(--font-size-body-md);
        font-weight: var(--font-weight-regular);
        letter-spacing: var(--letter-spacing-md);

        &::before {
            content: "";
            display: block;
            width: 0.5rem;
            height: 0.5rem;
            border-radius: var(--border-radius-circle);
            flex-shrink:   0;
        }
        }

        &:nth-child(1) dt::before { background-color: var(--color-positive-dark); }
        &:nth-child(2) dt::before { background-color: var(--color-caution-dark); }
        &:nth-child(3) dt::before { background-color: var(--color-danger-dark); }

        dd:first-of-type {
            font-weight: var(--font-weight-bold);
            font-size:var(--font-size-body-2xl);
            line-height: 1;
        }
    }
}
/* ------------ Overview pagina -------------------------*/
/* ------------ Detail pagina ---------------------------*/

/* ------------ Popup------------------------------------*/

/* ------------ Actie menu ------------------------------*/
/* ------------ uitlenen --------------------------------*/
/* ------------ Innemen ---------------------------------*/
/* ------------ scahde melden ---------------------------*/