@font-face {
  font-family: "Akkurat";
  src: url("/fonts/akkurat-light.woff2") format("woff2"), url("/fonts/akkurat-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Akkurat";
  src: url("/fonts/akkurat-regular.woff2") format("woff2"), url("/fonts/akkurat-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Akkurat";
  src: url("/fonts/akkurat-bold.woff2") format("woff2"), url("/fonts/akkurat-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  /* Kleuren deze niet gebruiken in style.css alleen voor variabelen */
  /* Brand */
  --palette-brand-900:       #3A1258;
  --palette-brand-800:       #46166b;
  --palette-brand-700:       #5A2A86;
  --palette-brand-600:       #8B6AA0;
  --palette-brand-300:       #B8A9C6;
  --palette-brand-200:       #C7B8D2;
  --palette-brand-100:       #ECE7F0;
 
  /* Neutraal */
  --palette-neutral-900:     #000000;
  --palette-neutral-800:     #212121;
  --palette-neutral-700:     #8f8f8f;
  --palette-neutral-600:     #A0A0A0;
  --palette-neutral-300:     #d9d9d9;
  --palette-neutral-200:     #E5E5E5;
  --palette-neutral-100:     #f2f2f2;
  --palette-neutral-0:       #ffffff;
 
  /* Signaal: fout */
  --palette-danger-700:      #FF0000;
  --palette-danger-300:      #FFA0A0;
  --palette-danger-100:      #FFE5E5;
 
  /* Signaal: waarschuwing */
  --palette-caution-700:     #FFBB00;
  --palette-caution-300:     #FFE5A0;
  --palette-caution-100:     #FFF8E5;
 
  /* Signaal: succes */
  --palette-positive-700:    #11A407;
  --palette-positive-300:    #A6DDA2;
  --palette-positive-100:    #E6F6E5;
}
:root{
  /* Kleuren om ook echt te gebruiken als variabelen */
  /* Brand */
  --color-brand-darkest:     var(--palette-brand-900);
  --color-brand-darker:      var(--palette-brand-800);
  --color-brand-dark:        var(--palette-brand-700);
  --color-brand-mid:         var(--palette-brand-600);
  --color-brand-light:       var(--palette-brand-300);
  --color-brand-lighter:     var(--palette-brand-200);
  --color-brand-lightest:    var(--palette-brand-100);

  /* Neutraal */
  --color-neutral-darkest:   var(--palette-neutral-900);
  --color-neutral-darker:    var(--palette-neutral-800);
  --color-neutral-dark:      var(--palette-neutral-700);
  --color-neutral-mid:       var(--palette-neutral-600);
  --color-neutral-light:     var(--palette-neutral-300);
  --color-neutral-lighter:   var(--palette-neutral-200);
  --color-neutral-lightest:  var(--palette-neutral-100);
  --color-neutral-surface:   var(--palette-neutral-0);

  /* Danger / borrowed */
  --color-danger-dark:       var(--palette-danger-700);
  --color-danger-light:      var(--palette-danger-300);
  --color-danger-lightest:   var(--palette-danger-100);

  /* Caution / repair */
  --color-caution-dark:      var(--palette-caution-700);
  --color-caution-light:     var(--palette-caution-300);
  --color-caution-lightest:  var(--palette-caution-100);
 
  /* Positive / available */
  --color-positive-dark:     var(--palette-positive-700);
  --color-positive-light:    var(--palette-positive-300);
  --color-positive-lightest: var(--palette-positive-100);

  /* Achtergronden */
  --color-bg-default:        var(--palette-neutral-100);
  --color-bg-inverse:        var(--palette-neutral-900);

  /* Buttons */
  --color-btn-base:          var(--color-brand-darker);
  --color-btn-hover:         var(--color-brand-dark);
  --color-btn-active:        var(--color-brand-darkest);
  --color-btn-focus:         var(--color-brand-dark);
  --color-btn-disabled:      var(--color-brand-light);

  /* Text */
  --color-text-default:      var(--color-neutral-darkest);
  --color-text-inverse:      var(--color-neutral-surface);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg-default:      var(--color-brand-darkest);
    --color-bg-inverse:      var(--color-brand-lightest);

    --color-text-default:    var(--color-neutral-surface);
    --color-text-inverse:    var(--color-neutral-darkest);
  }
}

html, body {
  overflow-x: hidden;
  max-width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth; /* Baseline: WIDELY AVAILABLE */
  max-width: 100%;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
}

/* typogrfie */
body{
  font-family: "Akkurat", Arial, Helvetica, sans-serif;
}